<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    <%-include('partials/menu.html');%>
<body class="container">
    <center>
    <form action="/resultados" method="post" style="background-color: khaki;">        
        <br><br>
        <label >Num. Recibo</label>
        <input type="number" id="numRecibo" name="numRecibo">
        <br>
        <label >Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label >Domicilio</label>
        <input type="text" id="domicilio" name="domicilio">
        <br>
        <label >Tipo de servicio</label>
        <select name="tipoServicio" id="tipoServicio">
           <option value="1">Domestico</option>
           <option value="2">Comercial</option>
           <option value="3">Industrial</option>
        </select>
        <div><label >Kilowatts consumidos</label>
        <input type="number" id="kilowatts" name="kilowatts" required="true">
        <br><br>
        <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Enviar informacion</button>
        <button class="btn btn-secondary" style="margin-top: 15px;" type="reset" onclick="limpiarCampos()">Limpiar</button>
    </form>    
    <br><br><hr>
</center>
    <%-include('partials/piePagina.html');%>
</body>
</html>

<style>
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;

}
section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
}
</style>