<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    <%-include('partials/menu.html');%>
<body class="container">
    <%
        let subtotal = 0;
        let impuesto = 0;
        let descuento = 0;
        let totalPagar = 0;

        if(tipoServicio == 1){
            subtotal = kilowatts * 1.08;
        }
        else if(tipoServicio == 2){
            subtotal = kilowatts * 2.5;
        }
        else if(tipoServicio == 3){
            subtotal = kilowatts * 3.0;
        }

        if(kilowatts <= 1000){
            descuento = subtotal * .10;
        }
        else if(kilowatts > 1000 && kilowatts <= 10000){
            descuento = subtotal * .20;
        }
        else if(kilowatts > 10000){
            descuento = subtotal * .50;
        }

        impuesto =  subtotal * 0.16;
        totalPagar = (subtotal + impuesto) - descuento;
        servicio = ""
        costo = 0
        
        if(tipoServicio == 1){
            servicio = "Domicilio"
            costo = 1.08;
        }
        else if(tipoServicio == 2){
            servicio = "Comercial"
            costo = 2.5;
        }
        else if(tipoServicio == 3){
            servicio = "Industrial"
            costo = 3.0;
        }

    %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de servicio</th>
                <th scope="col">Kilowatts Consumidos</th>
                <th scope="col">Costo por Kilowatts</th>
            </tr>
        </thead>
        <tr>
            <tr>
                <td scope="row"><%=nombre%></td>
                <td scope="row"><%=tipoServicio%></td>
                <td scope="row"><%=kilowatts%></td>
                <td scope="row"><%=costo%></td>
            </tr>
            
            <tr>
                <td> </td>
                <td> </td>
                <td scope="row">subtotal: </td>
                <td scope="row"><%=subtotal%></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td scope="row">impuesto: </td>
                <td scope="row"><%=impuesto%></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td scope="row">descuento: </td>
                <td scope="row"><%=descuento%></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <th scope="row">Total a Pagar: </th>
                <th scope="row"><%=totalPagar%></th>
            </tr>
        </tr>
    </table>
</center>
    <%-include('partials/piePagina.html');%>
</body>
</html>

<style>
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;

}
section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
}
</style>